<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc   
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<!-- 第一步：配置自动扫描控制器java类包位置，类上使用了@Controller注解 -->
	<context:component-scan base-package="com.javaketang.controller"></context:component-scan>

	<!-- 第二步：使用注解 -->
	<mvc:annotation-driven>
		<mvc:message-converters> <!-- 信息转换器配置 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter"></bean>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 第三步：配置映射jsp页面的前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"><!-- 这里配置的class类为spring的视图解析器 -->
		<property name="prefix" value="/WEB-INF/view" /><!-- 配置视图解析器属性prefix前缀的地址 -->
		<property name="suffix" value=".jsp" /><!-- 配置视图解析器属性suffix后缀的地址 -->
	</bean>



</beans>